 <!-- footer Section -->

<style>
    .foot{
        margin-top: 0%;
    }
    </style>

 <footer class="navbar-static-bottom foot">
    <div class="container-fluid">
      <p class="text-center p-4"></p>
    </div>
  </footer>
</body>

</html>